-i https://pypi.org/simple

flask == "*"
flask-migrate = "==4.0.5"
flask-bcrypt = ">=1.0"
faker = "*"
flask-restful = "==0.3.10"
gunicorn = "==21.2.0"
psycopg2-binary = "*"
flask-sqlalchemy = "==3.0.5"
sqlalchemy-serializer = "*"
sqlalchemy = "==2.0.16"
blinker = "==1.6.2"
click = "==8.1.7"
alembic = "==1.12.0"
flask-cors = "==4.0.0"
bcrypt = "==4.0.1"

python_version = "3.11"